.Section1{
    width: 35%;
    height: 100%;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
    color: #414142;
    font-size: 12px;
    /* background-color: #f9f9f9; */
    background-color: #f3f3f3;
}
.Section1 .subtitle {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 10px 40px;
}
.Section1 .description{
    line-height: 20px;
    text-align: inherit;
    padding: 10px 40px;
}

.Section1 svg  {
    position: absolute;
    fill:#673AB7;
    stroke:#673AB7;
}


