.Courses{
    padding: 0px 40px;
    margin-top: 3%;
}
.Courses .subtitle {
    margin-top: 5%;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 8px;
}
.courseName_box_1{
    width: 80%;
    display: inline-block;
}
.courseName_box_2{
    width: 20%;
    text-align: center;
    display: inline-block;
}

.listCourses_0{
    margin-top: 1%;
}
.listCourses_1{
    margin-top: 1%;
}
.listCourses_2{
    margin-top: 1%;
}
.fa-react{
    color: #00d8ff;
    font-size: 30px;
}
.fa-vuejs{
    font-size: 30px;
    color: #42b883;
}
.fa-php {
    color: #4f5b93;
    font-size: 30px;
}